@import './_variables';

.body-content {

    h2 {
        font-size:2.3rem;
    }

    .subtitle {
        text-decoration: none;
        font-style: italic;
        text-align: center;
        font-weight: 200;
        margin: 0;
    }

    .separator {

    }

    .who {
        .pic {
            width:200px;
            height:200px;
            border-radius:200px;
            background-color:@dark;
            margin:0 auto;
        }
    }

}