#i18n-menu {
    position: absolute;
    right:0;

    &.hidden {
        display:none;
    }

    select {
        -webkit-appearance: none; 
        -moz-appearance: none;
        appearance: none; 
        border:none;
        background-color: transparent;    
    }
}