
/* Extra small devices (phones, 540px and down) */
@media only screen and (max-width: 540px) {
    .jumbotron {
        background-color:red !important;
        background-image:none;
        height:350px;
        padding-top:30px;
        h2 {
            font-size: 1.5rem;
        }
        h1 {
            margin:25px 0;
            font-size: 4.5rem;
        }
        ol {
            li .card {
                height: 180px;
            }
        } 
    }
} 

/* Small devices (portrait tablets and large phones, 540px and up) */
@media only screen and (min-width: 540px) {
    .jumbotron {
        height:350px;
        padding-top:30px;
        h2 {
            font-size: 1.8rem;
        }
        h1 {
            margin:25px 0;
            font-size: 6.5rem;
        }
        ol {
            li .card {
                height: 180px;
            }
        } 
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .jumbotron {
        height:400px;
        padding-top:40px;
        h2 {
            font-size: 2.2rem;
        }
        h1 {
            margin:30px 0;
            font-size: 6.5rem;
        }
        ol {
            li .card {
                height: 200px;
            }
        } 
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .jumbotron {
        height:500px;
        padding-top:50px;
        h2 {
            font-size: 2.2rem;
        }
        h1 {
            margin:50px 0;
            font-size: 6.5rem;
        }
        ol {
            li .card {
                height: 240px;
            }
        } 
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .jumbotron {
        height:600px;
        padding-top:70px;
        h2 {
            font-size: 2.2rem;
        }
        h1 {
            margin:70px 0;
            font-size: 6.5rem;
        }
        ol {
            li .card {
                height: 280px;
            }
        } 
    }
}

