
.jumbotron {
  background: #FE7880;
  background-image: linear-gradient(#F38BD3, #FE7880);
  height: 760px;
  width: 100%;
  z-index: 100 !important;
}

@media only screen and (min-width: 720px) {
  .jumbotron {
    height: 600px;
  }
}